* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Pacifico', cursive;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.fundo{
  background-image: url(assets/fundo3.png);  
  background-size: repeat; 
}


.line-none{
  font-family: 'Pacifico', cursive;
  font-size: 14px;
  margin-top: 37px;
}
.line-none a:link{
  outline: none;
  text-decoration: none;
}
.btn{     
  width: 226px;
  height: 33px;
  border-radius: 18px;
  background: #D0D6C1;
  top:15px;
}
.feed-btn-postar{
display: flex;
font-family: 'Pacifico', cursive;
font-size: 10px;
color: #e79a9a;

border-style: double;
}

.navbar{
width: 100vw;
height: 56px;
top: 0px;
background: #B4DAD2;
border: 1px solid #F2F2F2;
box-sizing: border-box;
position: fixed;
z-index: 10;
}
.profile{
border: 5px solid black;
width: 100vw;
height: 84px;
margin-top: 56px;
}
.post {

width: 80vw;
height: 104px;
margin: auto;
background: rgba(141, 168, 186, 0.68);
border-radius: 16px;
border: none;
display: flex;
text-align: center;
border: none;
margin-top: 11px;
}

.postcont{
  margin: auto;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 155px;
  top: 140px;
  background: rgba(242, 242, 242, 0.54);
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 21px;

}
.postedfeed{
width: 90vw;
display: flex;
margin: auto;
margin-top: 20px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
border: 1px solid #C4C4C4;
border-radius: 21px;
background: rgba(242, 242, 242, 0.54);
height: 175px;
}
.posted-for{
  font-family: 'Pacifico', cursive;
}
.likes-btn {
border-style: none;
}

.dcontainer-home{
  width: 100vw;
  height: 0vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7FCFC;
}
.dcontainer-home2,.container-feed{
  width: 100vw;  
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7FCFC;
}
.img-logo{
  display: flex;
  justify-content: center;
  width: 100vw;
  align-items: center;
}
.dcontainer-home2{
  flex-wrap: wrap;
  top:15px;
  height: 50vh;;
}
.templete{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.list-home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px
}
.login-btn, .register-btn{
  list-style-type: none;
  width: 108px;
  height: 26px;
  background: #D0D6C1;
  border-radius: 18px;
  cursor: pointer;
}
.register-btn{
/* margin-top: 42px;*/
}
.googleBtn, .google{
  cursor: pointer;
  width: 40px;
  border-radius: 100px; 
  border: none;
}
.list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px
  ;
}
/* .img-logo{
  height: 235px;
  width: 277px;
  object-fit: cover;
  object-position: left bottom;
} */
.form-register{
  margin-bottom: 110px;
}